* {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
}

/* Screen splash */
.screen {
/*   background-color: #FE5252; */
  background-color: #FDD238;
	justify-content: center;
}

/* Navbar */
.topnav {
  overflow: hidden;
  background-color: #FF7174;
  font-family: 'Montserrat';
}

.topnav .search-container {
  float: right;
}

.searcher {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 300px;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #FDD238;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #FDE487; 
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #FDD238;
  }
}

/* Main */

.filter-buttons {
  text-align: center;
  padding: 6px 10px;
}

.gallery-title {
    font-size: 40px;
    color: #ffffff;
    text-align: center; 
    margin-top: 30px;
    font-weight: 500;
}

.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
}


.filter-button {
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;
    font-family: 'Montserrat';
}

.filter-button:hover {
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;
  

}
.btn-default:active .filter-button:active {
    background-color: #42B32F;
    color: white;
}

.port-imag {
    width: 100%;
}

.gallery_product {
    margin-bottom: 30px;
}
